*{
  all:unset;
}

@import "./colors.scss";

*{
  color: $mauve;
}

.bar{
  padding: 5px;
  background: unset;
}

@import "./bar/right.scss";
@import "./bar/center.scss";
@import "./bar/left.scss";



